html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: Helvetica, sans-serif;
}
ol, ul {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
a, a:hover {
    
}
/*body{*/
/*    -js-display: flex;*/
/*    display: flex;*/
/*    flex-direction: column; */
/*    justify-content: space-between;*/
/*}*/

/*HEADER*/
.header{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
 
}
.toolbar {
    
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
        -ms-flex-pack: justify; 
            justify-content: space-between; 
    -webkit-box-align: stretch; 
    -webkit-align-items: stretch; 
        -ms-flex-align: stretch; 
            align-items: stretch;
    background-color: #7abde4;
    height: 80px;
    vertical-align: middle;
    width: 100%;
}
.auto-cont{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-right: 35px;
}
.auto{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
.nav-bar{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: -20px 2.5% 0px 2.5%;
    background-color: #6CE06C;
    /*padding: 10px 0px;*/
    width: 95%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    behavior: url(polyfills/PIE.htc);
}
.nav-bar li:hover{
    background-color: #e0ffff;
    
    
}
.last{
    -webkit-border-radius: 0px 10px 10px 0px ;
            border-radius: 0px 10px 10px 0px ;
    behavior: url(polyfills/PIE.htc);
}
.first{
    -webkit-border-radius: 10px 0px 0px 10px;
            border-radius: 10px 0px 0px 10px;
    behavior: url(polyfills/PIE.htc);
}
.nav-bar li{
    height: 49px;
    width: 20%;
    text-align: center;
    line-height: 49px;
}
.nav-bar li a{
    text-decoration: none;
    color: #4F514D;
    font-weight: bolder;
    display: block;
    height: 49px;
}

.username{
    font-size: 12px;
    color: black;
    font-weight: bolder;
    margin-top: 15px;
    margin-right: 15px;
}
.link{
    margin-bottom: 30px;
    margin-right: 90px;
    font-size: 13px;
    
}
.link a{
    color: white;
    font-weight: bolder;
}


/*MAIN*/
.content{
    padding-top: 20px;
    width: 95%;
    margin: auto;
    /*min-height: 90%;*/
}
.add{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 15px 0px;
    border-bottom: 0.5px dotted #ececec;
    padding-bottom: 10px;
    
}
.note{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
}
.note2{
    /*height: 10px;*/
    width: 35%;
    padding: 5px;
    margin-right: 12px\9;
}
.buttons{
    margin: 15px 0px;
    
}

table{
    width: 100%;
    border: 0.3px solid #ccc;
    background-color: #DAECEB;
    font-size: 15px;
    
}

table th, td {
    padding: 7px;
    text-align: center;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #D8E6F3
}
.tcal{
    width: 13.2%;
    width: 13.7%\9;
}
.even{
    background-color: #DAECEB;
}
.odd{
    background-color: #fff;
}
.otdo{
    padding: 0px 8px;
    padding-right: 4px\9;
}
.search{
    padding-left: 15px;
    padding-top: 3px;
}

/*FOOTER*/
.footer{
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; 
    -webkit-box-align: stretch; 
    -webkit-align-items: stretch; 
        -ms-flex-align: stretch; 
            align-items: stretch;
    height: 120px;
    width: 100%;
    background-color: #7abde4;
    margin-top: 50px;
    
}
.foottext{
    padding-top: 32px;
    padding-right: 30px;
    line-height: 15px;
    font-size: 14px;
}
/*.bufer{*/
/*    height: 120px;*/
/*}*/

/*BUTTONS*/
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	-webkit-border-radius: .5em;
	        border-radius: .5em;
	behavior: url(polyfills/PIE.htc);
	font-size: 12px;
	padding: .4em 1.5em .42em;
	margin-right: 12px;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
}
.orange:hover {
	background: #f47c20;
}
.orange:active {
	color: #fcd3a5;
}
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
}
.red:hover {
	background: #b61318;
}
.red:active {
	color: #de898c;
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
}
.blue:hover {
	background: #007ead;
}
.blue:active {
	color: #80bed6;
}
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
}
.green:hover {
	background: #538018;
}
.green:active {
	color: #a9c08c;
}
.logout{
    -webkit-border-radius: 0 0 .5em .5em ;
            border-radius: 0 0 .5em .5em ;
	behavior: url(polyfills/PIE.htc);
	border: solid 1px #b7b7b7;
	margin-right: 0px;
}